# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.OkiGenGames.iml
# Datasource local storage ignored files
/../../../../../../../:\GitProjects\OkiGenGames\OkiGenGames\.idea\.idea.OkiGenGames\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
